@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Work+Sans:wght@400;500;600&display=swap');

:root {
	--bg-color: #121b25;
	--accent-color: #1AA090;
	--text-color: #d6d6d6;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
* img {
	max-width: 100%;
}
ul{
	list-style: none;
}
body {
	font-family: 'Work Sans', sans-serif;
	background-color: var(--bg-color);
	position: relative;
	color: #fff;
	&._lock {
		overflow: hidden;
	}
}

.text {
	font-weight: 400;
	font-size: 18px;
	line-height: 170%;
	color: var(--text-color);
}

[class*="__container"] {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 15px;
}
/*----------------------------Header--------------------------*/


.header {
	padding: clamp(1.25rem , 0.886rem + 1.82vw, 2.5rem) 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__navigation {
		display: flex;
		align-items: center;
		gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);

	}
	&__logo{
		max-width: 200px;
		
	}
	&__buttons {
		display: flex;
		gap:5px;

	}
	&__btn {
		padding: 11px 20px;
		border: 2px solid var(--accent-color);
		background-color: transparent;
		transition: background-color .2s;
		cursor: pointer;
		color: #fff;
		@media (max-width: 576px){
			padding: 7px 15px;
		}
	}
}
.menu {
	@media (max-width: 992px){
		position: absolute;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 80%;
		display: flex;
		overflow: auto;
		padding: 20px 0;
		background-color: var(--accent-color);
		transition: left .2s;
		&._active{
			left:0;
		}
	}
	&-icon {
	display: none;

	@media (max-width: 992px) {
	display: block;
	height: 18px;
	width: 30px;
		position: relative;
	cursor: pointer;
	z-index: 5;

	span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;

		&:first-child {
			top: 0;
		}

		&:last-child {
			top: auto;
			bottom: 0;
		}
	}

	&._active {
	span {
		transform: scale(0);

		&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
		}

		&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
		}
	}
	}
	}
	}
	&__body {
		display: flex;
		align-items: center;
		gap: 40px;
		@media (max-width: 992px){
			flex-direction: column;
			margin: auto;
		}
	}
	&__link{
		font-weight: 500;
		font-size: 16px;
		text-decoration: none;
		color: var(--text-color);
		transition: color .2s;
		position: relative;
		&::before{
			content:"";
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			background-color: var(--accent-color);
			height: 3px;
			opacity: 0;
			visibility: hidden;
			transition: visibility .2s;
		}
		@media(any-hover) {
			&:hover {
				color:#fff;
				&:before{
					opacity: 1;
					visibility: visible;	
				}
				
			}
		}
		@media (max-width: 992px) {
			line-height: 50px;
			font-size: 30px;
		}
	}

}

.login {
	

	@media(any-hover: hover){
		&:hover{
			background-color: var(--accent-color);

		}
	}
	@media (max-width){
		display: none;
	}
}
.register{
	background-color: var(--accent-color);
	@media(any-hover: hover) {
		&:hover {
			background-color: transparent;
	
		}
	}

}

/*----------------------------Hero-----------------------*/

.hero {


	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		flex: 0 0 calc(700px /1420px * 100%);
		padding-bottom: 160px;
	}

	&__title {
		font-weight: 600;
		font-size: clamp(2.5rem, 1.991rem + 2.55vw, 4.25rem);
		line-height: 126%;
	}

	&__text {
		margin-top: 18px;

	}

	&__filter {
		height: 100px;
		width: 880px;
		background-color: #fff;
		margin-top: 60px;
		position: absolute;
	}
}

/*-----------------------------Filter-----------------------*/

.filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 165px;
	color: black;

	&__btn {
		padding: 5px;
		display: flex;
		height: 100%;
		width: 100%;
		button {
			cursor: pointer;
			background-color: var(--accent-color);
			height: 100%;
			width: 100%;
			border: none;
			font-weight: 500;
			font-size: 24px;
			text-transform: capitalize;
			color:#fff;

		}
	}
}
.block-filter{
	position: relative;
	&__button {
		padding-left: 40px;
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
	}
	&__header{
		display: flex;
		align-items: center;
	}
	&__dropdown{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #fff;
		opacity: 0;
	}
	&__type {
		padding-right: 10px;
	}
	&__icon {
		width: 10px;
		height: 7px;
		background: url('../img/dropdown.svg') right center no-repeat;
	}
}
/*----------------------------Hero-----------------------*/